<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'static/image/python.ico' %}"/>
    <link rel="stylesheet" href="{% static 'static/css/drop.css' %}"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/css/5grid/init.js?use=mobile,desktop,1200px,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
    <noscript>
        <link rel="stylesheet" href="{% static 'static/css/font.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/5grid/core.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/5grid/core-desktop.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/5grid/core-1200px.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/5grid/core-noscript.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/style-desktop.css' %}"/>
        <link rel="stylesheet" href="{% static 'static/css/style-1200px.css' %}"/>
    </noscript>
</head>

<body >
    <div class="dropdown" style="position: fixed;z-index:99;right:1em;top:1em" >
            <button class="dropbtn">菜单</button>
            <div class="dropdown-content">
                    <a href="/login">登录</a>
                    <a href="/reg">注册</a>
                    <a href="/logout">注销</a>
            </div>
    </div>

<body class="left-sidebar">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Content -->
    <div id="content" class="mobileUI-main-content">
        <div id="content-inner">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <!-- Logo -->
        <div id="logo">
            <h1 class="mobileUI-site-name">Welcome</h1>
        </div>

        <!-- Nav -->
        <nav id="nav" class="mobileUI-site-nav">
            <ul>
                <li class="current_page_item"><a href="/">首页</a></li>
                {% block artcategory %}
                {% endblock %}
            </ul>
        </nav>

        <!-- Search -->
        <section class="is-search is-first">
            <form method="post" action="#">
                <input type="text" class="text" name="search" placeholder="Search"/>
            </form>
        </section>

        <!-- Text -->
        <section class="is-text-style1">
            <div class="inner">
                <p>
                    公告
                </p>
            </div>
        </section>

        <!-- Recent Posts -->
        {% block new %}
        {% endblock %}

        <!-- Calendar -->
        <section class="is-calendar">
            <div class="inner">
                <table>
                    <caption id='caption' align="right"></caption>
                    <thead>
                    <tr>
                        <th scope="col" title="Sunday">S</th>
                        <th scope="col" title="Monday">M</th>
                        <th scope="col" title="Tuesday">T</th>
                        <th scope="col" title="Wednesday">W</th>
                        <th scope="col" title="Thursday">T</th>
                        <th scope="col" title="Friday">F</th>
                        <th scope="col" title="Saturday">S</th>
                    </tr>
                    </thead>
                    <tbody id='tbody'>
                    <tr class='low'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class='low'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class='low'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class='low'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class='low' id='isshow'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <!-- Copyright -->
        <section class="is-copyright">
            <div id="copyright">
                <p class="text-muted credit" style="padding: 5px;">
                <address><strong>Mr.zhou</strong>&nbsp;&nbsp;贵州,贵阳&nbsp;中国<br/> <abbr title="Phone">P:</abbr> (123)
                    456-7890
                </address>
                </p>
            </div>
        </section>

    </div>
</div>
</body>
</body>
<script type="text/javascript"  src="{% static 'static/js/calendar.js' %}"></script>
</html>
