{% extends 'base.html' %}
{% block title %}{{ Article.title }}{% endblock %}
{% block dropdown %}
    <div class="dropdown" style="position: fixed;z-index:99;right:1em;top:1em" >
            <button class="dropbtn">菜单</button>
            <div class="dropdown-content">
                {% for each_drop in drop_list %}
                    <a href="{{ each_drop.link }}">{{ each_drop.name }}</a>
                {% endfor %}
            </div>
    </div>
{% endblock %}
{% block content %}
<br>
<h2>{{ the_Article.title }}</h2>
<hr>
    {{ the_Article.content|linebreaks }}
<hr>
<div align="right">本文浏览量：{{ the_Article.num_of_view}}</div>
{% endblock %}

<!-- Art -->
{% block artcategory %}
{% for art in art_list%}
	<li><a href="/article/{{art}}/">{{art}}</a></li>
{% endfor %}
{% endblock %}

<!-- New -->
{% block new %}
<section class="is-recent-posts">
	<h2>最新更新</h2>
	<br>
	<ul>
	{% for new in new_list %}
		<li><a href="/blog_detailed/{{ new.id }}/">{{ new.title }}</a></li>
	{% endfor %}
	</ul>
</section>
{% endblock %}
